/MSpa_Hot_Tub.iml
**/__pycache__/
*.py[cod]
*$py.class
MSpa_Hot_Tub_HA_integration.iml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
custom_components/mspa.zip
